#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* translucent black overlay */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

/* Actual spinner */
.spinner {
	border: 8px solid #f3f3f3; /* Light grey border */
	border-top: 8px solid #b5b5b5b6; /* Your primary color */
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1s linear infinite;
}

/* Spin animation keyframes */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.buttons {
	margin-top: 32px;
	display: flex;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
	color: white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
	transform: translateY(-1px);
}

button:disabled {
	background-color: #999;
	cursor: not-allowed;
}

.loadBtn {
	background-color: #0502b4;
}

.loadBtn:hover {
	background-color: #3331b4;
}

.resetBtn {
	background-color: #b40202;
}

.resetBtn:hover {
	background-color: #d62525;
}
