.overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 125ms;
	z-index: 1;
}

.pokemonOverlay {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 300px;
	width: 300px;
	background-color: black;
}
